.Main{
    /* background-image: url(../../assets/images/imagesinPlacement/homepageimage.jpg); */
    height: 95vh;
    width: 100vw;
    /* background-repeat: no-repeat;
    background-position: center;
     background-size: cover;  */
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    object-fit: cover;
    text-transform: uppercase;
    
}
.center{
    padding-top: 30px;
    height: 85vh;
}
.HeroPara{
  font-size: 20px;
  width: 600px;
  background-image: linear-gradient(to Bottom, rgb(0, 0, 0),rgb(74, 37, 127), rgb(16, 190, 218));
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}
.headText{
   /* -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;  */
    color: rgb(193, 36, 36);
    font-size: 40px; 
}
.spanhero{
  width: 19%;
  height: 1px;
  background: #005dff;
  opacity: 2;
  display: flex;
  margin-top: -35px;
  position: relative;
  border: 1px solid black;
  border-radius: 25px;
  opacity: 1;
}
/*  full button compoenent */

/* From Uiverse.io by StealthWorm */ 
/* .btn{
    display: flex;
    align-items: center;
    justify-content: center;

} */
 /* From Uiverse.io by vinodjangid07 */ 
.button {
    width: 191px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-image: linear-gradient(to right, rgb(8, 255, 255),rgb(218, 197, 197),rgb(0, 255, 255));
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 2px solid black;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(209, 200, 129, 0.12);
    padding-left: 8px;
    transition-duration: .5s;
    font-size: 20px;
  }
  
  .svgIcon {
    height: 25px;
    transition-duration: 1.5s;
  }
  
  .bell path {
    fill: rgb(19, 19, 19);
  }
  
  .button:hover {
    background-color: rgb(183, 255, 0);

    color: rgb(0, 0, 0);
    
    transition-duration: .4s;
  }
  
  .button:active {
    transform: scale(0.97);
    transition-duration: .2s;
  }
  
  .button:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }
  
  
.imghero{
    width: 37%;
    padding: 0px 0px 0 40px;
    animation: moveLeftRight 1s infinite alternate ease-in-out;
}
@keyframes moveLeftRight {
    0% {
        transform: translateX(0.5cm); /* Moves 5cm left */
    }
    100% {
        transform: translateX(0m); /* Moves 5cm right */
    }
}
 