.aboutMain {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 50px;
}

.aboutPart1 {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.imgAbout {
  width: 440px;
  height: 340px;
}

.aboutpart2 {
  width: 50%;
}

.aboutpart2 p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.aboutheader {
  color: #6a6aff;
  font-size: 36px;
  font-weight: 700;
}
