/* Shared classes */
.text-blue-800 {
  color: #1e40af; /* Blue text for light mode */
}

.hover\:text-blue-600:hover {
  color: #2563eb; /* Hover blue text for light mode */
}

.bg-blue-600 {
  background-color: #2563eb; /* Blue background */
}

.dark\:bg-blue-700 {
  background-color: #1d4ed8; /* Dark blue background */
}

.text-white {
  color: #ffffff; /* White text */
}

.dark\:text-white {
  color: #ffffff; /* Dark mode white text */
}

.border {
  border-width: 1px; /* Default border */
}

.border-zinc-300 {
  border-color: #d4d4d8; /* Light zinc border */
}

.dark\:border-zinc-600 {
  border-color: #52525b; /* Dark zinc border */
}

.p-2 {
  padding: 0.5rem; /* Padding */
}

.w-full {
  width: 90%; /* Full width */
}

.mb-4 {
  margin-bottom: 1rem; /* Margin bottom */
}

.rounded-lg {
  border-radius: 0.5rem; /* Large border radius */
}

.hover\:bg-blue-500:hover {
  background-color: #3b82f6; /* Hover blue background */
}

.dark\:hover\:bg-blue-600:hover {
  background-color: #2563eb; /* Dark hover blue background */
}

/* Component-specific styles */
.flex {
  display: flex;
}

.custom-line-spacing {
  line-height: 5.75; /* Adjust as needed */
}


.flex-col {
  flex-direction: column;
}

.md\:flex-row {
  flex-direction: row;
}

.p-8 {
  padding: 2em;
}

.bg-white {
  background-color: #ffffff;
}

.dark\:bg-zinc-800 {
  background-color: #18181b; /* Dark zinc background */
}

.text-blue-800 {
  color: #1e40af;
}

.dark\:text-blue-200 {
  color: #c7d2fe;
}

.md\:w-1\/2 {
  width: 100%;
}

.mb-8 {
  margin-bottom: 0.8rem;
}

.mt-4 {
  margin-top: 1rem;
}

/* Spacing between sections */
.section-spacing {
  margin-top: 10px; /* Add space between sections */
}

/* Subword styling */
.subwords {
  font-size: 0.875rem; /* Smaller font size for subwords */
  line-height: 1.25rem; /* Adjust line height */
  color: #6b7280; /* Lighter gray text */
}

/* Center the Send button */
.form-submit-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  margin-left: 2rem;
}

.mt-6 {
  margin-top: 1.5rem;
}
