/* Shared classes */
.text-blue-800 {
  color: #1e40af; /* Blue text for light mode */
}

.hover\:text-blue-600:hover {
  color: #2563eb; /* Hover blue text for light mode */
}

.bg-blue-600 {
  background-color: #2563eb; /* Blue background */
}

.dark\:bg-blue-700 {
  background-color: #1d4ed8; /* Dark blue background for dark mode */
}

.text-white {
  color: #ffffff; /* White text for light mode */
}

.dark\:text-white {
  color: #ffffff; /* White text for dark mode */
}

.p-8 {
  padding: 2rem; /* Large padding */
}

.w-full {
  width: 90%; /* Full width */
}

.mb-4 {
  margin-bottom: 1rem; /* Space below the element */
}

.rounded-lg {
  border-radius: 0.5rem; /* Large border radius */
}

.hover\:bg-blue-500:hover {
  background-color: #3b82f6; /* Hover blue background for light mode */
}

.dark\:hover\:bg-blue-600:hover {
  background-color: #2563eb; /* Hover blue background for dark mode */
}

/* Layout-specific styles */
.flex {
  display: flex; /* Flex container */
}

.flex-col {
  flex-direction: column; /* Column layout */
}

.md\:flex-row {
  flex-direction: row; /* Row layout for medium screens */

}
.m-block{
  margin-left: 7rem;
}


.bg-white {
  background-color: #ffffff; /* Light background */
}

.dark\:bg-zinc-800 {
  background-color: #18181b; /* Dark background */
}

.text-blue-800 {
  color: #1e40af; /* Blue text */
}

.dark\:text-blue-200 {
  color: #c7d2fe; /* Light blue text for dark mode */
}

.md\:w-1\/2 {
  width: 100%; /* Half width on medium screens */
}

.mt-4 {
  margin-top: 1rem; /* Margin at the top */
}

.text-xl {
  color: #628eeb; /* Light blue color for titles */
}

/* Social media links */
.flex.space-x-4 {
  justify-content: center; /* Center align icons horizontally */
  gap: 2rem; /* Space between icons */
}

